<% question.answers.each do |answer| %>
  <div class="answers-show">
    <% unless session[:user_id].nil? %>
      <a href="/answers/<%= answer.id %>/upvote">▲</a>
    <% end %>
    <span><%= answer.points %></span>
    <% unless session[:user_id].nil? %>
      <a href="/answers/<%= answer.id %>/downvote">▼</a>
    <% end %>
    <p><%= answer.description %></p>
    <h6><%= answer.user.username %></h6>
    <% if question.user_id == session[:user_id] %>
      <% if !best_answer %>
      <form class='best-answer-selector select' action="/answers/<%= answer.id %>" method="post">
        <input type="submit" name="submit" value="Select as Best Answer">
      </form>
      <% end %>
    <% end %>
  </div>
      <%= erb :'/comments/_comment', :locals => {comments: answer.comments} %>
<% end %>
