<div class="questions-show">
  <h1> <%= @question.title %> </h1>
  <p><%= @question.description %></p>
  <a><h6><%= @question.user.username %></h6></a>
</div>

<% if @best_answer %>
<div class="best-answer">
  <h4>Best Answer:</h4>
  <p><%= @best_answer.description %></p>
  <h6><%= @best_answer.user.username %></h6>
  <% if @question.user_id == session[:user_id] %>
    <form class="" action="/answers/<%= @best_answer.id %>" method="post">
      <input type="submit" name="submit" value="Deselect as Best Answer">
    </form>
  <% end %>
</div>
<% end %>

<div>
  <% @question.answers.each do |answer| %>
    <div class="answers-show">
      <p><%= answer.description %></p>
      <h6><%= answer.user.username %></h6>
      <% if @question.user_id == session[:user_id] %>
        <% if !@best_answer %>
        <form class="" action="/answers/<%= answer.id %>" method="post">
          <input type="submit" name="submit" value="Select as Best Answer">
        </form>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
<% if session[:user_id] && (@question.user.id != session[:user_id]) %>
  <div class="">
    <form class="" action="/questions/<%=@question.id%>/answers" method="post">
      <textarea name="description" rows="8" cols="60" placeholder="Your Answer"></textarea>
      <input type="submit" name="submit" value="Submit">
    </form>
  </div>
<% elsif session[:user_id].nil? %>
  <h3>You must be logged in to answer this question.</h3>
<% elsif @question.user.id == session[:user_id]%>
  <h3>You cannot answer your own questions.</h3>
<% end %>
