<div class="comment-container">
  <% unless comments.length == 0 %>
  <% comments.each do |comment| %>
  <div class="comment-div">
    <p id="comment-body"> <%= comment.comment_body %> </p>
    <h6 id ='comment-author'><%= User.find(comment.user_id).full_name %> </h6>
  </div>
  <% end %>
  <% end %>
  <% unless session[:user_id].nil? %>
  <form class="comment-form" action="/questions/<%= @question.id %>" method="post">
    <input type="hidden" name="commentable_type" value="<%=commentable_type%>">
    <% if commentable_type == "Answer" %>
      <input type="hidden" name="answer_id" value="<%=answer_id%>">
    <% end %>
    <textarea name="comment_body" rows="3" cols="50" placeholder="Enter your comment here"></textarea>
    <input type="submit" name="" value="Submit">
  </form>
  <% end %>
</div>
